.wrapper1 {
    --input-focus: #2d8cf0;
    --font-color: slateblue;
    --font-color-sub: #666;
    --bg-color: #fff;
    --bg-color-alt: #666;
    --main-color: #323232;
}

/* switch card */
.switch1 {
    transform: translateY(-200px);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 50px;
    height: 20px;
}

.card-side1::before {
    position: absolute;
    content: 'Data ';
    left: -70px;
    top: 0;
    width: 100px;
    text-decoration: underline;
    color: var(--font-color);
    font-weight: 600;
}

.card-side1::after {
    position: absolute;
    content: 'Image';
    left: 70px;
    top: 0;
    width: 100px;
    text-decoration: none;
    color: var(--font-color);
    font-weight: 600;
}

.toggle1 {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider1 {
    box-sizing: border-box;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    box-shadow: 4px 4px var(--main-color);
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--bg-colorcolor);
    transition: 0.3s;
}

.slider1:before {
    box-sizing: border-box;
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    border: 2px solid var(--main-color);
    border-radius: 5px;
    left: -2px;
    bottom: 2px;
    background-color: var(--bg-color);
    box-shadow: 0 3px 0 var(--main-color);
    transition: 0.3s;
}

.toggle1:checked+.slider1 {
    background-color: var(--input-focus);
}

.toggle1:checked+.slider1:before {
    transform: translateX(30px);
}

.toggle1:checked~.card-side1:before {
    text-decoration: none;
}

.toggle1:checked~.card-side1:after {
    text-decoration: underline;
}

/* card */

.flip-card__inner1 {
    width: 300px;
    height: 350px;
    position: relative;
    background-color: transparent;
    perspective: 1000px;
    /* width: 100%;
      height: 100%; */
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.toggle1:checked~.flip-card__inner1{
    transform: rotateY(180deg);
}

.toggle1:checked~.flip-card__front1 {
    box-shadow: none;
}

.flip-card__front1,
.flip-card__back1 {
    padding: 20px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background: lightgrey;
    gap: 20px;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    box-shadow: 4px 4px var(--main-color);
}

.flip-card__back1 {
    width: 100%;
    transform: rotateY(180deg);
}

.flip-card__form1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.title1 {
    margin: 20px 0 20px 0;
    font-size: 25px;
    font-weight: 900;
    text-align: center;
    color: var(--main-color);
}

.flip-card__input1 {
    width: 250px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    background-color: var(--bg-color);
    box-shadow: 4px 4px var(--main-color);
    font-size: 15px;
    font-weight: 600;
    color: var(--font-color);
    padding: 5px 10px;
    outline: none;
}

.flip-card__input1::placeholder {
    color: var(--font-color-sub);
    opacity: 0.8;
}

.flip-card__input1:focus {
    border: 2px solid var(--input-focus);
}

.flip-card__btn1:active,
.button-confirm1:active {
    box-shadow: 0px 0px var(--main-color);
    transform: translate(3px, 3px);
}

.flip-card__btn1 {
    margin: 20px 0 20px 0;
    width: 120px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    background-color: var(--bg-color);
    box-shadow: 4px 4px var(--main-color);
    font-size: 17px;
    font-weight: 600;
    color: var(--font-color);
    cursor: pointer;
}

/* This is File Upload Css  */
.custum-file-upload1 {
    height: 200px;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    gap: 20px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border: 2px dashed #cacaca;
    background-color: rgba(255, 255, 255, 1);
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0px 48px 35px -48px rgba(0, 0, 0, 0.1);
}

.custum-file-upload1 .icon1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.custum-file-upload1 .icon1 svg {
    height: 80px;
    fill: rgba(75, 85, 99, 1);
}

.custum-file-upload1 .text1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.custum-file-upload1 .text1 span {
    font-weight: 400;
    color: rgba(75, 85, 99, 1);
}

.custum-file-upload1 input {
    display: none;
}

/*  This is end of the File upload CSS */